[submodule "FirstEngine/vendor/spdlog"]
	path = FirstEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "FirstEngine/vendor/GLFW"]
	path = FirstEngine/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
[submodule "FirstEngine/vendor/imgui"]
	path = FirstEngine/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "FirstEngine/vendor/glm"]
	path = FirstEngine/vendor/glm
	url = https://github.com/g-truc/glm
